<div class="search_result" id="search_result_listing_<%= listing.id %>">
  <div class="header">
    <span class="price">$<%= listing.price %></span>
    <span class="rooms"><%= pluralize listing.rooms, 'room' %></span>
    <span class="location">
      <%= google_maps_link listing.location_query, listing.location %>
    </span>    
  </div>
  <div class="description">
    <%= listing.title %>
  </div>
  <div class="footer">
    <span class="date"><%= listing.posted_at.strftime('%m/%d %H:%M') %></span>
    <%= link_to listing.cl_url, listing.cl_url %>    
  </div>
  <div class="actions">
    <%= link_to 'Scam', pin_listing_path(listing, :score => -2), :method => :put, :remote => true %>
    <%= link_to 'Hide', pin_listing_path(listing, :score => -1), :method => :put, :remote => true %>
    <%= link_to 'Meh', pin_listing_path(listing, :score => 1), :method => :put, :remote => true %>
    <%= link_to 'Like', pin_listing_path(listing, :score => 2), :method => :put, :remote => true %>
    <%= link_to 'Love', pin_listing_path(listing, :score => 3), :method => :put, :remote => true %>
  </div>
</div>
