<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @listing.price %>
</p>

<p>
  <b>Rooms:</b>
  <%= @listing.rooms %>
</p>

<p>
  <b>Location:</b>
  <%= @listing.location %>
</p>

<p>
  <b>City:</b>
  <%= @listing.city %>
</p>

<p>
  <b>Latitude, longitude:</b>
  <%= @listing.lat %>, <%= @listing.lng %>
</p>

<p>
  <b>Title:</b>
  <%= @listing.title %>
</p>

<p>
  <b>Posted at:</b>
  <%= @listing.posted_at %>
</p>

<p>
  <b>Original post:</b>
  <%= link_to @listing.cl_url, @listing.cl_url %>
</p>

<p>
  <b>Parser:</b>
  <%= @listing.parser_hash %>
</p>

<%= link_to 'Back', listings_path %>
