<%= form_for(@scrape_order) do |f| %>
  <% if @scrape_order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scrape_order.errors.count, "error") %> prohibited this scrape_order from being saved:</h2>

      <ul>
      <% @scrape_order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_url %><br />
    <%= f.text_field :start_url %>
  </div>
  <div class="field">
    <%= f.label :page_depth %><br />
    <%= f.text_field :page_depth %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
